<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hobbyzooapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />






    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HobbyZooApp"
        tools:targetApi="31">
        <activity
            android:name=".WeeklyEvent"
            android:exported="false" />
        <activity
            android:name=".DateMemory"
            android:exported="false" />
        <activity
            android:name=".MyEvolutionActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.HobbyZooApp.NoActionBar" />
        <activity
            android:name=".AccountActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ActivityPage"
            android:exported="false" />
        <activity
            android:name=".Sessions.EndSession"
            android:exported="false" />
        <activity
            android:name=".Sessions.RunSession"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true"
            android:parentActivityName=".RegistrationOrConnexion" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:parentActivityName=".RegistrationOrConnexion" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrationOrConnexion"
            android:exported="false" />
        <activity
            android:name=".Activities.MyActivities"
            android:exported="false" />
        <activity
            android:name=".Sessions.MyDailySessions"
            android:exported="false" />
        <activity
            android:name=".Calendar.CalendarActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Sessions.NewSession"
            android:exported="false" />
        <activity
            android:name=".Category.NewCategory"
            android:exported="false" />
        <activity
            android:name=".Activities.NewActivity"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.hobbyzooapp.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>